@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #e7e7f3;
}

.container {
    width: 100%;
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 318px;
}

.current-choosen-amount {
    font-size: 16px;
    color: #70757A;
    max-width: 318px;
}

.show-current-rate {
    max-width: 318px;
    font-size: 36px;
    margin-top: 4px;
}

.time {
    max-width: 318px;
    font-size: 12px;
    color: #70757A;
    margin: 8px 0 16px;
}

.table {
    display: flex;
    max-width: 317px;
    flex-wrap: wrap;
}

input, select {
    width: 150px;
    height: 38px;
    padding: 0 0 0 12px;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
}
input {
    font-size: 16px;
    width: 136px;
    margin: 0 0 8px 0;
}
#input2 {
    color: #70757a !important;
}